# Directories too big #
#######################

# Files with one-minute data - too big! #
#############
bitflyerJPY_1-min_data_2017-07-04_to_2018-01-08.csv
bitstampUSD_1-min_data_2012-01-01_to_2018-01-08.csv
coinbaseUSD_1-min_data_2014-12-01_to_2018-01-08.csv
coincheckJPY_1-min_data_2014-10-31_to_2018-01-08.csv

